<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta charset='utf-8' />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no" >
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
<body>
<div id='wrapper'>
    <div id='nav'>
        <div class='left'>
            <h1>Bitter</h1>
        </div>
    </div>
    <div class='navElement pull-left'>
        <div class='left sidenavul'>
            <ul>
                <li><a href='/tweetWall?global=false' ><i class='fas fa-user'></i> Personal</a></li>
                <li><a href='/tweetWall?global=true' ><i class='fas fa-globe'></i> Global</a></li>
                <li><a href='/userlist' ><i class='fas fa-users'></i> Users</a></li>
            </ul>
        </div>
    </div>
    <div id='content'>
        <div class='container-fluid'>
            <div class="row">


                <div class="card col-md-10 mt-5 offset-md-1">
                    <div class="card-header">
                        Featured
                        <span class="right small">29.03.2018 18:56</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">+ Follow</a>
                    </div>
                </div>


            </div>

            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap-js.js"></script>
</body>
</html>
