<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta charset='utf-8' />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no" >
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
<body>
<div id='wrapper'>
    <div id='nav'>
        <div class='left'>
            <h1>Bitter</h1>
        </div>
    </div>
    <div class='navElement pull-left'>
        <div class='left sidenavul'>
            <ul>
                <li><a href='/tweetWall?global=false' ><i class='fas fa-user'></i> Personal</a></li>
                <li><a href='/tweetWall?global=true' ><i class='fas fa-globe'></i> Global</a></li>
                <li><a href='/userlist' ><i class='fas fa-users'></i> Users</a></li>
            </ul>
        </div>
    </div>
    <div id='content'>
        <div class='container-fluid'>
                <div class="row">
                    <div class="col-md-10 mt-5 offset-md-1">
                        <button class="btn btn-lg btn-success btn-block" data-toggle="modal" data-target="#exampleModal" >
                            Create Message
                        </button>
                    </div>
                </div>
                <div class="row" id="tweetwall">


                <div class="card col-md-10 mt-5 offset-md-1" th:each="message : ${messages}">
                    <div class="card-header">
                        Featured
                        <span class="right small">29.03.2018 18:56</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text" th:text="${message}">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-success">+ Follow</a>
                    </div>
                </div>


            </div>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="modal-input" type="text"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Send</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        let pageCount = 0;
        $(window).scroll(function() {
            if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                $.post("/tweet", {page: pageCount}, function(data){
                    pageCount += 1;
                    console.log(data);
                    $.each(data, function (key, value)  {
                        $("#tweetwall").append("<div class=\"card col-md-10 mt-5 offset-md-1\">\n" +
                            "                    <div class=\"card-header\">\n" +
                            "                        Featured\n" +
                            "                        <span class=\"right small\">29.03.2018 18:56</span>\n" +
                            "                    </div>\n" +
                            "                    <div class=\"card-body\">\n" +
                            "                        <h5 class=\"card-title\">"+value+"</h5>\n" +
                            "                        <p class=\"card-text\">With supporting text below as a natural lead-in to additional content.</p>\n" +
                            "                    </div>\n" +
                            "                    <div class=\"card-footer\">\n" +
                            "                        <a href=\"#\" class=\"btn btn-success\">+ Follow</a>\n" +
                            "                    </div>\n" +
                            "                </div>");
                    });
                });
            }
        });
    });
</script>

</body>
</html>
