<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta charset='utf-8' />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="/css/fontawsome.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
            integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no" >
</head>
<body>
<div id='wrapper'>
    <div th:insert="~{tweetWall ::sidebar}"></div>
    <div id='content'>

        <div class="input-group input-group-md col-md-6 offset-md-3 mt-3">
            <div class="input-group-prepend">
                <i class='fas fa-search'></i>
            </div>
            <input type="text" list="searchresults" class="userSearchInput" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            <datalist id="searchresults"></datalist>
        </div>

        <div class='container-fluid'>
            <div class="row">
                <div class="mt-5 col-md-2 offset-md-5 col-xs-10 offset-xs-2">
                    <div class="card">
                        <img class="card-img-top" src="images/placeholder.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button class="btn btn-success followButton">+ Follow</button>
                        </div>
                    </div>
                </div>




            </div>

            </div>
        </div>
    </div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap-js.js"></script>
<script src="/js/script.js" th:href="@{/js/script.js}"></script>
</body>
</html>
