<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta charset='utf-8' />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="/css/fontawsome.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no" >
</head>
<body>
<div id='wrapper'>
    <div id='nav'>
        <div class='left'>
            <h1>TITLE</h1>
        </div>
    </div>
    <div id='sidenav'>
        <div class='left sidenavul'>
            <ul>
                <li><a href='#dashboard' ><span class='glyphicon glyphicon-dashboard'></span> TEST</a></li>
                <li><a href='#dashboard' ><span class='glyphicon glyphicon-user'></span> TEST</a></li>
                <li><a href='#dashboard' ><span class='glyphicon glyphicon-wrench'></span> TEST</a></li>
            </ul>
        </div>
    </div>
    <div id='content'>
        <div class='container-fluid'>

            <div class="row mt-5">
                <!-- spacing -->
                <div class="col-md-3 col-xs-1"></div>

                <div class="panel panel-info col-md-6 col-xs-10">
                    <div class="panel-heading">
                        <span class="panel-title">Panel title</span>
                        <span class="badge badge-info v-align follow-badge">+</span>
                    </div>
                    <div class="panel-body white">
                        <img src="#" alt="..." class="img-thumbnail ">
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>

                <!-- spacing -->
                <div class="col-md-3 col-xs-1"></div>

            </div>

        </div>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap-js.js"></script>
</body>
</html>
